<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
   (click)="addClick()"
   data-backdrop="static" data-keyboard="false" 
   >
    Add Employee
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog model-dialog-centered moadl-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{ModalTitle}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
        <span aria-hidden="true">&times;</span>
    </button>
        </div>
        <div class="modal-body">
            <app-add-edit-emp  [emp]="emp" *ngIf="ActivateAddEditEmpComp"></app-add-edit-emp>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>EmployeeId</th>
            <th>EmployeeName</th>
            <th>Department</th>
            <th>DateOfJoining</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of EmployeeList">
            <td>{{dataItem.EmployeeId}}</td>
            <td>{{dataItem.EmployeeName}}</td>
            <td>{{dataItem.Department}}</td>
            <td>{{dataItem.DateOfJoining}}</td>
            
            <td>
                <button type="button" class="btn btn-light mr-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="editClick(dataItem)"
                data-backdrop="static" data-keyboard="false" >Edit
                </button>
                <button type="button" class="btn btn-light mr-1" (click)="deleteClick(dataItem)">Delete
                </button>
                
            </td>
        </tr>    
    </tbody>
</table>

